{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}
<style>
    .header--actions {
        display: flex;
        align-items: center;
    }

    .header--search {
        margin-left: 25px;
        min-width: 360px;
    }

    .input-group {
        position: relative;
    }

    .input-group .left-icon {
        position: absolute;
        z-index: 2;
        left: 15px;
        top: 0;
        color: #333;
        font-size: 1.375rem;
        height: 40px;
        line-height: 40px;
    }

    .input {
        margin: 0;
        border: 0;
        position: relative;
        z-index: 1;
        height: 40px;
        border-radius: 25px;
        width: 10%;
        outline: 0;
    }

    .input-group.has-left-icon .input {
        padding-left: 50px;
    }

    .input-group.has-right-icon .input {
        padding-right: 50px;
    }

    .input-group .right-icon {
        position: absolute;
        z-index: 2;
        right: 15px;
        color: #333;
        font-size: 0.9375rem;
        height: 40px;
        line-height: 40px;
    }
    /*
    toggling the z-index =>
    hides/shows the X icon in the search input
    */
    .input-group .right-icon.clear--search {
        z-index: 0;
    }
</style>

    <div class="header--search input-group has-left-icon has-right-icon can-delete">

        <input type="text" id="search" name="q" class="input" placeholder="Search music, artists...">

        <button>Submit</button>
    </div>
{% endblock %}
